<ExpansionPanelComponent [label]="title()" [setOpen]="panelIsOpen()" (setOpenChange)="panelIsOpen.set($event)" titleClass="left">
  <div class="options">
    @if (length() > resolvedOptions().maxShown! && resolvedOptions().useSearch === true) {
      <SearchInput (searchChange)="applySearch($event)"></SearchInput>
    }
    <div class="panel scrollbar" [style.max-height.px]="resolvedOptions().maxShown! * 30">
      @for (entity of internalEntites; track $index) {
        <div class="item">
          <div class="contents">
            <div class="root w-full flex flex-row" [class.cursor-pointer]="entity.diabled !== true" (click)="toggle(entity!); $event.preventDefault(); $event.stopPropagation()">
              @if (resolvedOptions().showSelection === true) {
                @if (entity?.isSelected) {
                  <span class="indicator selected indicator-dark material-symbols-outlined">check</span>
                } @else {
                  <span class="indicator indicator-dark"></span>
                }
              }
              <div class="root">
                <div>
                  <span class="label">{{ entity?.label | translate }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</ExpansionPanelComponent>
