.panel {
  overflow-y: auto;
}

.item {
  display: flex;
  gap: 8px;
  outline: none;
  outline-offset: -1px;
  padding: 4px 12px 4px 8px;
}

.indicator {
  display: block;
}

label.root {
    display: inline-flex;
}

.label {
    margin-left: 5px;
}

.indicator.selected {
    background: #4797ff;
    border-color: #4797ff;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}