<div class="wrapper" style="display: flex; flex-direction: column">
  @for (option of deviceOptions(); track $index) {
    <div class="device_row">
      <div class="label flex flex-col">
        <span>
          {{ option.label }}
          @if (option.description) {
            <InfoOverlayComponent [message]="option.description" style="min-width: 30px"> </InfoOverlayComponent>
          }
        </span>
      </div>
      @switch (option.type) {
        @case ('boolean') {
          <OptionComponent [active]="hasAccess(option.access, AccessMode.SET)" [item]="{ label: '', isActive: option.value === true }"></OptionComponent>
        }
        @case ('binary') {
          @if (hasAccess(option.access, AccessMode.SET)) {
            <OptionComponent [active]="hasAccess(option.access, AccessMode.SET)" [item]="{ label: '', isActive: option.value === true }"></OptionComponent>
          } @else {
            <span>{{ option.value }}</span>
          }
        }
        @case ('string') {
          <input class="w-full text-right panel" [value]="option.value" (change)="changeSetting(option, $event.target.value)" />
        }
        @case ('Array.number') {
          {{ option.enum }}
        }
        @case ('numeric') {
          <input class="w-full text-right panel" [value]="option.value" (change)="changeSetting(option, $event.target.value)" />
        }
      }
    </div>
  }
</div>
