.trigger  {
    align-items: center;
    background: none;
    border: none;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    display: flex;
    font: inherit;
    gap: 4px;
    justify-content: space-between;
    margin: 0;
    padding: 4px 7px 2px 3px;
    width: 100%;
}