.input-container {
    border:1px solid;
    border-color: var (--app-border-color);
}

button {
    color:var(--dialog-button-text-color);
    font-size:var(--app-font-size);
    font-weight: normal;
}