<div class="flex w-full">
  <div style="width: 270px">
    <div class="mt-2">
      <TableSettingsControl></TableSettingsControl>
    </div>
    <div class="button">
      <button class="button-link left" (click)="createGroup()">{{ 'CREATE_NEW_GROUP' | translate }}</button>
    </div>
  </div>
  <div class="w-full ml-2">
    <TableComponent [dataSource]="datasource" [config]="tableConfig()" (sortChange)="onSort($event)" (rowClick)="selectGroup($event.id)">
      <!-- Icon cell -->
      <ng-template appTableCell="id" let-group>
        {{ group.id }}
      </ng-template>

      <ng-template appTableCell="friendly_name" let-group>
        {{ group.friendly_name }}
      </ng-template>

      <ng-template appTableCell="members" let-group>
        {{ group.members ? group.members.length : 0 }}
      </ng-template>

      <ng-template appTableCell="scenes" let-group>
        {{ group.scenes ? group.scenes.length : 0 }}
      </ng-template>
    </TableComponent>
  </div>
</div>
