@if (bindingGroups().length === 0) {
  <p>No bindings</p>
}

@for (bgroupKey of bindingGroups(); track $index) {
  @for (binding of bindings()[bgroupKey]; track $index) {
    <div class="device_row">
      <span class="label">{{ 'ENDPOINT' | translate }}</span>
      <span class="value">{{ binding.endpoint }}</span>
    </div>
    @if (binding.isNew === true) {
      <div class="sidbar_row">
        <div class="mt-2 w-full">
          <OptionPanelComponent
            class="panel w-full"
            style="flex-grow: inherit"
            title="{{ deviceSelectorTitle() }}"
            [entities]="deviceNameList()"
            [options]="{ maxShown: 10, showSelection: false, multi: false }"
            (optionsChanged)="selectNewDevice($event, binding)"
          ></OptionPanelComponent>
        </div>
      </div>
      @if (isDeviceWithEndpoints(selectedNewTargetDevice())) {
        <div class="sidbar_row">
          <div class="mt-2 w-full">
            <OptionPanelComponent
              class="panel w-full"
              style="flex-grow: inherit"
              title="{{ newSourceEndpointTitle() }}"
              [entities]="selectedNewTargetDeviceEndPoints()"
              [options]="{ maxShown: 10, showSelection: false, multi: false }"
              (optionsChanged)="selectNewEndPoint($event, binding)"
            ></OptionPanelComponent>
          </div>
        </div>
      }
    } @else {
      <div class="device_row">
        <span class="label">{{ 'TARGET_DEVICE' | translate }}</span>
        <span class="value">{{ binding.targetName }}</span>
      </div>

      <div class="device_row">
        <span class="label">{{ 'TARGET_ENDPOINT' | translate }}</span>
        <span class="value">{{ binding.targetEndpoint }}</span>
      </div>
    }
    <OptionPanelComponent
      title="Cluster"
      [entities]="binding.cluster"
      title="Endoiunbg"
      [panelIsOpen]="true"
      (optionsChanged)="changeBinding($event, binding)"
    ></OptionPanelComponent>

    <div class="sidbar_row">
      <div class="button w-full">
        <button [disabled]="!isBindingDirty(binding)" class="button-link left" (click)="updateBinding(binding)">{{ 'UPDATE_BINDING' | translate }}</button>
      </div>
      <div class="button w-full">
        <button class="button-link-danger left" (click)="removeBinding(binding)">{{ 'REMOVE_BINDING' | translate }}</button>
      </div>
    </div>
  }
}
<div class="device_row">
  <div class="w-full">
    <DropdownComponent [items]="deviceEndpointSelections()" [title]="newSourceEndpointTitle()" (selected)="add($event)"></DropdownComponent>
  </div>
  <div class="button w-full">
    <button [disabled]="tmpNewEndpoint() === undefined" class="button-link left" (click)="createTemporaryBinding(tmpNewEndpoint()!)">{{ 'ADD_BINDING' | translate }}</button>
  </div>
</div>
