@if (bindingGroups().length === 0) {
  <p>No bindings</p>
}

@for (bgroupKey of bindingGroups(); track $index) {
  @for (binding of bindings()[bgroupKey]; track $index) {
    <div class="device_row">
      <span class="label">{{ 'ENDPOINT' | translate }}</span>
      <span class="value">{{ binding.endpoint }}</span>
    </div>
    @if (binding.isNew === true) {
      <div class="sidbar_row">
        <div class="mt-2 w-full">
          <OptionPanelComponent
            class="panel w-full"
            style="flex-grow: inherit"
            title="{{ deviceSelectorTitle() }}"
            [entities]="deviceNameList()"
            [options]="{ maxShown: 10, showSelection: false, multi: false }"
            (optionsChanged)="selectNewDevice($event, binding)"
          ></OptionPanelComponent>
        </div>
      </div>
      @if (isDeviceWithEndpoints(selectedNewTargetDevice())) {
        <div class="sidbar_row">
          <div class="mt-2 w-full">
            <OptionPanelComponent
              class="panel w-full"
              style="flex-grow: inherit"
              title="{{ targetEndPointSelectorTitle() }}"
              [entities]="selectedNewTargetDeviceEndPoints()"
              [options]="{ maxShown: 10, showSelection: false, multi: false }"
              (optionsChanged)="selectNewEndPoint($event, binding)"
            ></OptionPanelComponent>
          </div>
        </div>
      }
    } @else {
      <div class="device_row">
        <span class="label">{{ 'TARGET_DEVICE' | translate }}</span>
        <span class="value">{{ binding.targetName }}</span>
      </div>

      <div class="device_row">
        <span class="label">{{ 'TARGET_ENDPOINT' | translate }}</span>
        <span class="value">{{ binding.targetEndpoint }}</span>
      </div>
    }
    @if (selectedNewTargetDevice() !== null || binding.target) {
      @if (binding.cluster && binding.cluster.length > 0) {
        <OptionPanelComponent
          title="Cluster"
          class="clusterlist"
          [entities]="binding.cluster"
          [panelIsOpen]="true"
          (optionsChanged)="changeBinding($event, binding)"
        ></OptionPanelComponent>
      } @else {
        <div class="device_row">
          {{ 'NO_COMPATIBLE_CLUSTERS_FOUND' | translate }}
        </div>
      }
    }
    <div class="sidbar_row">
      <div class="button w-full">
        <button [disabled]="!isBindingDirty(binding)" class="button-link left" (click)="updateBinding(binding)">
          @if (binding.isNew === true) {
            {{ 'CREATE_BINDING' | translate }}
          } @else {
            {{ 'UPDATE_BINDING' | translate }}
          }
        </button>
      </div>
      <div class="indicator_container">
        @if (operation() && operation()?.target === binding.targetEndpoint && operation()?.running === true) {
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="icon-overlay" fill="#e3e3e3">
            <path
              d="M480-520q66 0 113-47t47-113v-120H320v120q0 66 47 113t113 47ZM160-80v-80h80v-120q0-61 28.5-114.5T348-480q-51-32-79.5-85.5T240-680v-120h-80v-80h640v80h-80v120q0 61-28.5 114.5T612-480q51 32 79.5 85.5T720-280v120h80v80H160Z"
            />
          </svg>
        }
      </div>
      @if (binding.isNew !== true) {
        <div class="button w-full">
          <button class="button-link-danger left" (click)="removeBinding(binding)">{{ 'REMOVE_BINDING' | translate }}</button>
        </div>
      }
    </div>
    @if (operation() && operation()?.target === binding.targetEndpoint && operation()?.message !== '') {
      <div class="sidbar_row">
        <div class="w-full">
          {{ operation()?.message }}
        </div>
      </div>
    }
  }
}
<div class="device_row flex-col">
  <span class="label">{{ 'CREATE_A_NEW_BINDING' | translate }}</span>
  <div class="w-full">
    <DropdownComponent [items]="deviceEndpointSelections()" [title]="newSourceEndpointTitle()" (selected)="add($event)"></DropdownComponent>
  </div>
  <div class="button w-full">
    <button [disabled]="tmpNewEndpoint() === undefined" class="button-link left" (click)="createTemporaryBinding(tmpNewEndpoint()!)">{{ 'ADD_BINDING' | translate }}</button>
  </div>
</div>
