.device_row {
  display: flex;
  min-height: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  gap: 8px;
  color: var(--app-text-color);
  border-bottom-width: 1px;
  border-bottom-color: var(--app-border-color);
}

.clusterlist {
  margin-left:5px;
  margin-right: 5px;
}

.sidbar_row {
  padding: 2px 0px 2px 0px
}