<div class="container">
  <ExpansionPanelComponent label="Cluster" style="flex-grow: inherit" class="panel">
    <div class="wrapper">
      <DeviceEndpointComponent [endpoints]="device()?.endpoints ?? {}"></DeviceEndpointComponent>
    </div>
  </ExpansionPanelComponent>

  <ExpansionPanelComponent label="Settings" style="flex-grow: inherit" class="panel"> </ExpansionPanelComponent>

  <ExpansionPanelComponent label="Extended Settings" style="flex-grow: inherit" class="panel">
    <div class="wrapper">
      <DeviceSettingsExtended [device]="device()"></DeviceSettingsExtended>
    </div>
  </ExpansionPanelComponent>
</div>
