.device_row {
  display: flex;
  min-height: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  gap: 8px;
  color: var(--app-text-color);
  border-bottom-width: 1px;
  border-bottom-color: var(--app-border-color);
}

.buttonBarLeft {
  margin-top: 1em;
  background-color: transparent !important;
  display: flex;
  align-items: flex-start;
}
