label {
  width: 20%;
  height: 32px;
  line-height: 32px;
}

.container {
  padding: 2px 20px 10px 20px !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 auto;
  padding: 1px;
}

.col-full {
  flex: 0 0 auto;
  padding: 1px;
  width: 100%;
}

.col-50 {
  flex: 0 0 auto;
  padding: 1px;
  width: 50%;
}

.col-10 {
  flex: 0 0 auto;
  padding: 1px;
  width: 10%;
}

.col-20 {
  flex: 0 0 auto;
  padding: 1px;
  width: 20%;
}

.col-30 {
  flex: 0 0 auto;
  padding: 1px;
  width: 30%;
}

.col-40 {
  flex: 0 0 auto;
  padding: 1px;
  width: 40%;
}


.col-60 {
  flex: 0 0 auto;
  padding: 1px;
  width: 60%;
}

button {
  color: var(--dialog-button-text-color);
  font-weight: normal;
}

input {
  background-color: var(--input-background-highlighted) !important;
}


.framed {
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--app-border-color);
}