<div class="modal">
  <header>
    <div class="title">{{ 'CHOOSE_SERVER_TITLE' | translate }}</div>
  </header>
  <div class="message">
    <span>{{ 'CHOOSE_SERVER_MESSAGE' | translate }}</span>
  </div>
  @for (kServer of dialogData.knownServer; track $index) {
    <div class="container flex flex-row">
      <span>{{ kServer.name }}</span>
      <button>{{ 'CONNECT' | translate }}</button>
    </div>
  }
  <div class="container">
    {{ 'NEW_SERVER' | translate }}
    <div class="row">
      <div class="col-full">
        <label for="input_newServerName">{{ 'NAME' | translate }}</label>
        <div class="input-container">
          <input class="w-full text-left panel" id="input_newServerName" [value]="name()" (change)="changeName($event)" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <label for="input_newHost">{{ 'HOST' | translate }}</label>
        <div class="input-container">
          <input class="w-full text-left panel" id="input_newHost" [value]="host()" (change)="changeHost($event)" />
        </div>
      </div>
      <div class="col-50">
        <label for="input_newPort">{{ 'PORT' | translate }}</label>
        <div class="input-container">
          <input class="w-full text-left panel" id="input_newPort" [value]="port()" (change)="changePort($event)" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="input_newSecure">{{ 'IS_SECURE' | translate }}</label>
        <div class="input-container">
          <OptionComponent class="w-full text-left panel" id="input_newSecure" [active]="true" [item]="isSecure()" (clicked)="changeIsSecure($event)" />
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="buttonGroup">
      <div class="warp"></div>
      <div class="ml-auto flex flex-row gap-2">
        <button class="primary min-w-20" (click)="save()">{{ 'CONNECT' | translate }}</button>
        <button class="primary min-w-20" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
      </div>
    </div>
  </footer>
</div>
