<div class="modal">
  <header>
    <div class="title">{{ 'CHOOSE_SERVER_TITLE' | translate }}</div>
  </header>

  @if (dialogData.message != '') {
    <div class="framed">{{ dialogData.message | translate }}</div>
  }

  <div class="framed">
    <div class="message mb-5">
      <span>{{ 'CHOOSE_SERVER_MESSAGE' | translate }}</span>
    </div>
    <div class="container">
      @for (kServer of dialogData.knownServer; track $index) {
        <div class="row serverline min-h-7">
          <div class="col-20">{{ kServer.name }}</div>
          <div class="col-40">{{ kServer.host }}</div>
          <div class="col-20">
            <a class="button-link left cursor-pointer" (click)="connect(kServer)">{{ 'CONNECT' | translate }}</a>
          </div>
          <div class="col-20">
            <a class="button-link left cursor-pointer" (click)="edit(kServer)">{{ 'EDIT' | translate }}</a>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="framed">
    <div class="container">
      {{ 'NEW_SERVER' | translate }}
      <div class="row">
        <div class="col-full">
          <label for="input_newServerName">{{ 'NAME' | translate }}</label>
          <div class="input-container">
            <input class="w-full text-left" id="input_newServerName" [value]="name()" (change)="changeName($event)" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-60">
          <label for="input_newHost">{{ 'HOST' | translate }}</label>
          <div class="input-container">
            <input class="w-full text-left" id="input_newHost" [value]="host()" (change)="changeHost($event)" />
          </div>
        </div>
        <div class="col-20">
          <label for="input_newPort">{{ 'PORT' | translate }}</label>
          <div class="input-container">
            <input class="w-full text-left" id="input_newPort" [value]="port()" (change)="changePort($event)" />
          </div>
        </div>
        <div class="col-20">
          <label for="input_newSecure">{{ 'IS_SECURE' | translate }}</label>
          <div class="input-container">
            <OptionComponent class="w-full text-left panel" id="input_newSecure" [active]="true" [item]="isSecure()" (clicked)="changeIsSecure($event)" />
            <InfoOverlayComponent message="{{ 'IS_SECURE_DESCRIPTION' | translate }}" style="min-width: 30px"> </InfoOverlayComponent>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-60">
          <label for="input_token">{{ 'TOKEN' | translate }}</label>
          <div class="input-container">
            <input class="w-full text-left" id="input_token" [value]="token() ?? ''" (change)="changeToken($event)" />
            <InfoOverlayComponent message="{{ 'TOKEN_DESCRIPTION' | translate }}" style="min-width: 30px"> </InfoOverlayComponent>
          </div>
        </div>
        <div class="col-40 align-middle mt-10 mb-auto">
          <a class="button-link left cursor-pointer pl-8" (click)="save()">{{ 'SAVE' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="buttonGroup">
      <div class="warp"></div>
      <div class="ml-auto flex flex-row gap-2">
        <button class="primary min-w-20" (click)="cancel()">{{ 'CANACEL' | translate }}</button>
      </div>
    </div>
  </footer>
</div>
