:host {
  flex: 1;
  display: flex;
}

.device_row {
  display: flex;
  min-height: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  gap: 8px;
  color: var(--app-text-color);
  border-bottom-width: 1px;
  border-bottom-color: var(--app-border-color);
}

.rawData {
  display: flex;
  flex-grow: inherit;
  height: 100%;
}