:host {
  background-color: rgb(19, 20, 22);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-direction: column;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: Inter, 'UI Sans', Lato, Arial, sans-serif;
  font-feature-settings: 'kern';
  font-synthesis-small-caps: none;
  font-synthesis-style: none;
  font-synthesis-weight: none;
  font-variant-ligatures: no-common-ligatures;

  line-height: 18.4px;
  padding-bottom: 0px;
  padding-right: 2px;
  padding-top: 0px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

nav {
  background-color: rgb(28, 30, 33);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  height: 40px;
  line-height: 18.4px;
  margin-top: 5px;
  margin-bottom: 16px;
  min-height: 36px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  position: sticky;
  top: 0px;
}

.navbutton {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  font: 400 12px/16px UI Sans, Lato, Arial, sans-serif;
  justify-content: center;
  min-height: 32px;
  padding: 4px;
  transition: background-color 0.15s cubic-bezier(0.7, 0, 0.3, 1),
    color 0.15s cubic-bezier(0.7, 0, 0.3, 1);
  width: 0;
  cursor: pointer;
  background-color: #0e0f10;
  color: #4797ff;
}

.navbutton-selected {
  background-color: #282b2f;
  color: #4797ff;
}

