.tab-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  border-left: 2px solid var(--tab-header-border-color);
}

.tab-header {
  display: flex;
  flex-direction: column; // Vertical stack
  border-top: 1px solid var(--tab-header-border-color);
  border-left: 1px solid var(--tab-header-border-color);
  border-bottom: 1px solid var(--tab-header-border-color);
  border-right: 1px solid var(--tab-background-color);

  background-color: var(--tab-background-color, var(--app-background-raised-color));
  gap: 4px;
  overflow-y: auto; // Changed from overflow-x
  overflow-x: hidden;
  min-width: 60px;
  max-width: 60px;
  position: absolute;
  left: -60px;
  z-index: 100;
  top:50px;

  filter: drop-shadow(-5px 5px 5px var(--tab-header-shadow-color));

  &::-webkit-scrollbar {
    width: 6px; // Changed from height
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 3px;
  }
}

.tab-button {
  display: flex;
  border-bottom: 1px solid var(--tab-header-border-color);
  align-items: center;
  gap: 8px;
  padding: 5px;
  border: none;
  background-color: var(--tab-background-color, var(--app-background-raised-color));
  cursor: pointer;
  font-size: 14px;
  color: var(--app-text-color);
  //border-radius: 8px 0 0 8px; // Rounded on left side only (bookmark style)
  transition: all 0.2s ease;
  position: relative;
  white-space: nowrap;
  text-align: left;

  &:hover {
    background-color:var(--tab-background-color, var(--app-background-raised-color));
    color: var(--app-text-color);
  }

  &.active {
    cursor: pointer;
    background-color: var(--tab-selected-background-color);
    font-weight: 500;
  }
}

.tabIcon {
  padding-left:10px;
}

.tab-icon {
    max-width: 30px;
    margin-left:15px;
}

.tab-label {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.tab-content {
  flex: 1;
  padding: 0px;
  background-color: transparent;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  display: flex;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: transparent;
  font-size: 16px;
}


.tab-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
  overflow: auto;
  display: none;
  flex: 1;
  
  &.active {
    display: flex;
    
}
}