

.icon {
    max-width: 30px;
}

.icon_cell {
    width: 50px;
    padding: 4px 4px 4px 4px
}

.battery_ok {
  color: var(--app-link-good-color);
}

.firmware_available {
  color: var(--app-link-good-color);
}

.battery_warning {
  color:(--app-link-warning-color);
}

.battery_low {
  color:var(--app-link-danger-color);
}

/* Last column stretches to fill remaining space */
th.last-column,
td.last-column {
  flex: 1;
  overflow: visible;
  text-overflow: clip;
}

td.last-column {
  word-break: break-word;
  white-space: normal;
}

/* Non-last columns: prevent flex growth, maintain their configured width */
th:not(.last-column),
td:not(.last-column) {
  flex: 0 0 auto;
}


hr {
  background-color: var(--app-border-color);
  border: none;
  height: 1px;
}

span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}