/**
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  text-align: left;
  background-color: var(--app-background-color)
}

thead {
  color: #f9fafa;
  font: 700 14px/20px UI Sans, Lato, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

tr {
  height: 33px;
  position: relative;
  border-bottom-width: 1px;
  box-sizing: border-box;
  border-bottom-color: rgb(45, 44, 44);
  display: table-row;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  color: rgb(222, 224, 227);
  cursor: pointer;
}

th {
  display: table-cell;
  box-sizing: border-box;
}

td {
  transition: opacity 0.2s;
  display: table-cell;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-collapse: collapse;
  box-sizing: border-box;
  color: rgb(222, 224, 227);
  cursor: pointer;
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr:hover {
  background: #1c1e21;
}

tr.selected {
  border-left: 3px solid rgba(3, 69, 156, 0.899);
}


/* Last column stretches to fill remaining space 
th.last-column,
td.last-column {
  flex: 1;
  overflow: visible;
  text-overflow: clip;
}

td.last-column {
  word-break: break-word;
  white-space: normal;
}

/* Non-last columns: prevent flex growth, maintain their configured width 
th:not(.last-column),
td:not(.last-column) {
  flex: 0 0 auto;
}

*/


.icon {
    max-width: 30px;
}

.icon_cell {
    width: 50px;
    padding: 4px 4px 4px 4px
}

.battery_ok {
  color: var(--app-link-good-color);
}

.firmware_available {
  color: var(--app-link-good-color);
}

.battery_warning {
  color:(--app-link-warning-color);
}

.battery_low {
  color:var(--app-link-danger-color);
}

/* Last column stretches to fill remaining space */
th.last-column,
td.last-column {
  flex: 1;
  overflow: visible;
  text-overflow: clip;
}

td.last-column {
  word-break: break-word;
  white-space: normal;
}

/* Non-last columns: prevent flex growth, maintain their configured width */
th:not(.last-column),
td:not(.last-column) {
  flex: 0 0 auto;
}


hr {
  background-color: var(--app-border-color);
  border: none;
  height: 1px;
}