<div class="flex w-full">
  <div style="width: 270px">
    <span class="mt-2">Filter</span>
    <app-searchinput class="mt-2" (searchChange)="applySearch($event)"></app-searchinput>
    <div class="mt-2">
      <OptionPanelComponent title="{{ 'MANUFACTURER' | translate }}" [entities]="vendorList()" (optionsChanged)="vendorsSelectionChanged($event)"></OptionPanelComponent>
    </div>
    <div class="mt-2">
      <OptionPanelComponent title="{{ 'MODEL' | translate }}" [entities]="modelList()" [maxShown]="10" (optionsChanged)="modelSelectionChanged($event)"></OptionPanelComponent>
    </div>

    <div class="mt-2">
      <OptionPanelComponent
        title="{{ 'STATUS' | translate }}"
        [entities]="availabilityList()"
        [maxShown]="10"
        (optionsChanged)="availabilitySelectionChanged($event)"
      ></OptionPanelComponent>
    </div>
    <div class="mt-2">
      <OptionPanelComponent title="{{ 'POWER' | translate }}" [entities]="powerOptionList()" (optionsChanged)="powerSelectionChanged($event)"></OptionPanelComponent>
    </div>
    <hr class="mt-10 mb-4" />
    <span>Settings</span>
    <div class="mt-2">
      <TableSettingsControl></TableSettingsControl>
    </div>
    <div class="button">
      <button class="button-blue left" (click)="permitJoin()">{{ 'PERMIT_JOIN' | translate }}</button>
    </div>
    <div class="button">
      <button class="button-blue left">{{ 'CHECK_FOR_UPDATE_ALL' | translate }}</button>
    </div>
  </div>
  <div class="w-full ml-2">
    <TableComponent
      [dataSource]="datasource"
      [config]="tableConfig()"
      [columnOrder]="displayedColumns()"
      (sortChange)="onSort($event)"
      (rowClick)="selectDevice($event.ieee_address)"
      (columnOrderChange)="columnOrderChange($event)"
    >
      <!-- Status cell -->
      <ng-template appTableCell="status" let-device>
        <div class="flex ml-2">
          <span
            class="statusIcon"
            [class.red]="device.state.availability !== 'online'"
            [class.green]="device.state.availability === 'online'"
            [class.yellow]="device.state.availability === ''"
          ></span>
        </div>
      </ng-template>

      <!-- Icon cell -->
      <ng-template appTableCell="icon" let-device>
        <DeviceImage [device]="device" class="icon ml-2" width="25px"></DeviceImage>
      </ng-template>

      <!-- Name cell -->
      <ng-template appTableCell="name" let-device>
        {{ device.friendly_name }}
      </ng-template>

      <!-- Vendor cell -->
      <ng-template appTableCell="vendor" let-device>
        {{ device.definition?.vendor || '' }}
      </ng-template>

      <!-- Model cell -->
      <ng-template appTableCell="model" let-device>
        {{ device.definition?.model || '' }}
      </ng-template>

      <!-- Link Quality cell -->
      <ng-template appTableCell="linkquality" let-device>
        {{ device.state?.linkquality ?? '??' }}
      </ng-template>

      <!-- ieee_address cell -->
      <ng-template appTableCell="ieee_address" let-device> {{ device.ieee_address ?? '??' }} / {{ device.network_address | toHex }} </ng-template>

      <!-- supported cell -->
      <ng-template appTableCell="supported" let-device> {{ device.supported | human }} </ng-template>

      <!-- supported cell -->
      <ng-template appTableCell="firmware_state" let-device>
        @if (device.update) {
          @switch (device.update.state) {
            @case ('available') {
              <span class="firmware_available">{{ 'UPDATE_AVAILABLE' | translate }}</span>
            }
            @case ('idle') {
              {{ 'UP_TO_DATE' | translate }}
            }
            @case ('updating') {
              <div class="flex flex-row items-center">
                {{ 'DEVICE_UPDATING' | translate }}
                <ProgessBar class="block ml-1 max-w-36" [percent]="device.update?.progress ?? 0"></ProgessBar>
              </div>
            }
          }
        } @else {
          {{ 'UNKNOWN' | translate }}
        }
      </ng-template>

      <!-- Battery cell -->
      <ng-template appTableCell="battery" let-device>
        @if (device.power_source && device.power_source.indexOf('Battery') > -1) {
          @if (device.state) {
            <span
              [class.battery_ok]="device.state.battery >= 50"
              [class.battery_warning]="device.state.battery < 50 && device.state.battery >= 20"
              [class.battery_low]="device.state.battery < 20"
            >
              {{ device.state && device.state.battery ? `${device.state.battery}%` : '' }}
            </span>
          }
        } @else {
          <span class="material-symbols-outlined">power</span>
        }
      </ng-template>

      <!-- Last Seen cell -->
      <ng-template appTableCell="lastseenhuman" let-device>
        {{ device.state?.lastseenhuman || '--' }}
      </ng-template>
    </TableComponent>
  </div>
</div>
