:host {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}
.content > .options {
  padding: 7px;
}

.content > .options > .root_control {
  border: none;
}

.trigger {
  align-items: center;
  background: none;
  border: none;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  gap: 4px;
  justify-content: space-between;
  margin: 0;
  padding: 7px;
  width: 100%;
}

.trigger:focus-within {
  outline: 1px solid #0e65d8;
}

.trigger > .root_control {
    display: flex;
    gap: 4px;
    width: 100%;
    border:none;
}

.trigger > .root_control > .title {
    display: flex;
    justify-content: flex-start;
    color: #f9fafa;
    font-size: 12px;
    line-height: 16px;
    margin-top: 2px;

    font-size: 16px;
    font-weight: 400;
}

.root_control {
  display: flex;
}

.panel-open {
  flex-grow: inherit;
}