.root {
  border-bottom-color: rgb(52, 56, 61);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(52, 56, 61);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(52, 56, 61);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(52, 56, 61);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: block;
}

.content > .options {
  padding: 7px;

}

.content > .options > .root {
  border: none;
}

.trigger {
  align-items: center;
  background: none;
  border: none;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  gap: 4px;
  justify-content: space-between;
  margin: 0;
  padding: 7px;
  width: 100%;
}

.trigger:focus-within {
      outline: 1px solid #0e65d8;
}

.trigger > .root {
    display: flex;
    gap: 4px;
    width: 100%;
    border:none;
}

.trigger > .root > .title {
    display: flex;
    justify-content: flex-start;
    color: #f9fafa;
    font-size: 12px;
    line-height: 16px;
    margin-top: 2px;

    font-size: 16px;
    font-weight: 400;
}