<div class="root_control">
    <button type="button" tabindex="0" class="trigger" (click)="toggle()">
        <div class="root_control">
            <div><span class="title">{{title()}}</span></div>
        </div>
        @if(isOpen()===false) {
        <span class="material-symbols-outlined">arrow_drop_down</span>
        } @else {
        <span class="material-symbols-outlined">arrow_drop_up</span>
        }
    </button>
    <div class="content">
        @if(isOpen()) {
        <div class="options">
            @if(hasSearch()===true) {
            <div class="root_control">
                <div>
                    <app-searchinput></app-searchinput>
                </div>
                <div>
                <ng-content></ng-content>
                </div>
            </div>
            } @else {
                <ng-content></ng-content>
            }

        </div>
        }
    </div>
</div>