dropdowncomponent > .container {
  position: relative;
  padding: 0;
}

dropdowncomponent > .container > .inputContainer {
  border-radius: 4px;
  transition: box-shadow 50ms ease;
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-color: var(--app-border-color);
  padding: 0.15em;
  background-color: var(--dropdown-background-inactive);
}

dropdowncomponent > .container > .inputContainer.open {
  border-color: var(--button-frame-color);
}

dropdowncomponent > .container > .inputContainer > .inputContent {
  display: flex;
  flex: 1;
  padding-left: 0.5em;
}

dropdowncomponent > .container > .inputContainer > .inputContent > .input {
  cursor: pointer;
  opacity: 1;
  color: var(--app-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dropdowncomponent > .container > .inputContainer > .inputContent > .input > .icon {
  margin-right: 8px;
  margin-left: 0;
  display: flex;
  color: var(--app-text-color);
}

dropdowncomponent > ::ng-deep .dropdown-panel {
  z-index: 10000 !important;
  pointer-events: auto !important;
}

.dropdownRoot {
  background-color: var(--dropdown-panel-background);
  border: 1px solid;
  border-color: var(--app-border-color);
  overflow-y: auto;
  max-height: 250px;
}

.dropdownRoot > .optionsPanel {
  padding: 0.2em;
}

.dropdownRoot > .optionsPanel > .option {
  min-height: 38px;
  padding: 0.1em;
  padding-top: 0.4em;
  margin-left: 0.2em;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  cursor: pointer;
}

.dropdownRoot > .optionsPanel > .option > .selection {
  width: 25px;
  font-weight: bold;
  min-width: 25px;
}

.dropdownRoot > .optionsPanel > .option:hover {
  background-color: var(--dropdown-panel-background-hover);
}
.dropdownRoot > .optionsPanel > .option > .labelText {
  color: var(--app-text-color);
}

dropdowncomponent > ::ng-deep .dropdown-backdrop {
  background-color: transparent;
}
