optioncomponent > .root > .input {
  position: relative;
  margin-left: 8px;
  margin-right: 0;
}

optioncomponent > .root > .input > .inputContainer {
  margin-top: 4px;
  height: 16px;
  width: 32px;
  align-items: center;
  border-radius: 32px;
  display: flex;
  flex-shrink: 0;
  position: relative;
  transition: background-color 0.2s ease;
  background-color: var(--app-text-color-inactive);
}

optioncomponent > .root > .input >.inputContainer.active  {
  background-color: var(--button-text-color);
}

optioncomponent > .root > .input >.inputContainer >.indicator {
  position: absolute;
  transform: scale(0);
  transition: transform 0.15s cubic-bezier(0.8, 0, 0.7, 1) 50ms;
  border: none;
}

optioncomponent > .root > .input >.inputContainer >.indicator.active {
    transform: scale(1);
}

optioncomponent > .root > .input >.inputContainer >.switcher {
  background-color: var(--app-text-color);
  border-radius: 100%;
  pointer-events: none;
  position: absolute;
  transition: all 0.25s cubic-bezier(0.8, 0, 0.6, 1.4);
  z-index: 1;
  height: 14px;
  left: 1px;
  width: 14px;
}

optioncomponent > .root > .input >.inputContainer >.switcher.active  {
    transform: translateX(calc(-100% - 1px));
    left: 100%;
}