.radioList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  align-items: flex-start;
  margin: 0px;
  min-height: 24px;
}

.radioList.active {
    cursor: pointer;
}

.itemwrapper >label {
  margin: 0px;
  padding: 4px 8px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
}

label {
  border: 1px solid transparent;
  color: #737c87;
  border-color: #737c87;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

label >.labelcontent {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 14px;
  justify-content: flex-start;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}

label.active {
  border-color: #0b4ead;
  color: #0b4ead;
}


.radioList.active >.itemwrapper >label{
    cursor: pointer;
}