.buttonWrap {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.button {
  border-radius: 4px;
  font-size: 13px;
  height: 36px;
  line-height: 24px;
  padding: 0 16px;
  cursor: pointer;
}

.button.disabled {
  pointer-events: none;
  cursor: default;
}

.primary {
  background-color: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color);
  color: var(--button-primary-text-color);
}

.primary.disabled {
  background-color: var(--button-primary-background-color-disabled);
  border-color: var(--button-primary-border-color-disabled);
  color: var(--button-primary-text-color-disabled);
  cursor: default;
}
