.infoicon {
  font-size: 20px;
  cursor: pointer;
  margin-left: 0.5em;
  position: relative;
  z-index: 10;
}

.tooltip {
  background-color: #2b2b2b;
  border-radius: 4px;
  color: #fafafa;
  line-height: 16px;
  padding: 8px 16px;
  box-shadow: 0 8px 24px 0 #000, 0 0 1px 0 hsla(214, 8%, 98%, 0.08);
  min-width: 200px;
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
}

.tooltip::before {
  background-color: #2b2b2b;
  border-top-left-radius: 4px;
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  width: 12px;
}

.tooltip-top::before {
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(-135deg);
}

.tooltip-bottom::before {
  left: 50%;
  top: -6px;
  transform: translateX(-50%) rotate(45deg);
}

::ng-deep .info-overlay-panel {
  z-index: 10000 !important;
  pointer-events: auto !important;
}
