
<span (mouseenter)="open()" (mouseleave)="close()" (click)="toggle()" cdkOverlayOrigin #trigger="cdkOverlayOrigin" class="infoicon material-symbols-outlined">info</span>

<ng-template
  (positionChange)="pos($event)"
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayPanelClass]="'info-overlay-panel'"
  (detach)="isOpen = false">
  <span class="tooltip {{pointer}}" (mouseenter)="open()" (mouseleave)="close()">{{message()}}</span>
</ng-template>
