:host {
  width: 100%;
}

.toolbarInputAndClearContainer {
  min-width: 0;
  width: 100%;
  display: flex;
}

.toolbarInput {
  min-width: 0;
  width: 100%;
  flex: 1;
  padding: 0 5px 0 5px;
  border: 1px solid var(--app-border-color);
  background-color: var(--input-background-color);
  font-size: var(--toolbar-font-size);
  line-height: 1;
  outline: none;
}

.toolbarInput:focus-within {
    outline: 1px solid #0e65d8;
}

.options {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}