<div class="modal">
  <header>
    <div class="title">{{ data.title | translate }}</div>
  </header>
  <div class="message">
    <span>{{ data.message | translate: { name: data.objectName } }}</span>
  </div>
  <footer>
    <div class="buttonGroup">
      <div class="warp"></div>
      <div class="ml-auto flex flex-row gap-2">
        <button class="danger min-w-20" (click)="ok()">{{ 'DELETE' | translate }}</button>
        <button class="primary min-w-20" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
      </div>
    </div>
  </footer>
</div>
