:host {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}
.content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
}

.content-open {
  grid-template-rows: 1fr;
  opacity: 1;
  pointer-events: auto;
  overflow: visible;
  transition: grid-template-rows 0.3s ease-out, opacity 0.3s ease-out;
}

.content > * {
  min-height: 0;
  //overflow: hidden;
}

.content > .options {
  padding: 2px 7px;
}

.content > .options > .root_control {
  border: none;
}

.trigger {
  align-items: center;
  background: none;
  border: none;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  gap: 4px;
  justify-content: space-between;
  margin: 0;
  padding: 7px;
  width: 100%;
}

.trigger.trigger-colored:focus-within {
  outline: 1px solid;
  outline-color: var(--expansion-panel-trigger-focus-color);
}

.trigger > .root_control {
    display: flex;
    gap: 4px;
    width: 100%;
    border:none;
}

.trigger > .root_control > .title {
    display: flex;
    justify-content: flex-start;
    color: var( --app-text-color);
    font-size: 12px;
    line-height: 16px;
    margin-top: 2px;

    font-size: 16px;
    font-weight: 400;
}

.root_control {
  display: flex;
}

.panel-open {
  flex-grow: inherit;
}

.content_filled {
  background-color: var(--app-panel-color);
}