<div class="wrapper">
  @if (group() !== null) {
    <div class="container header">
      <div class="font-bold text-center w-full mt-5">{{ 'SETTINGS' | translate }}</div>
    </div>

    <div class="container">
      <div class="sidbar_row">
        <span class="label">{{ 'FRIENDLY_NAME' | translate }}</span>
        <span class="value flex flex-row"
          >{{ group()?.friendly_name }}<span class="material-symbols-outlined edit_icon mr-2 ml-2 cursor-pointer" (click)="renameGroup()">edit_square</span></span
        >
      </div>
      <div class="container header">
        <div class="font-bold text-left w-full mt-5">{{ 'DEVICES' | translate }}</div>
      </div>
      @for (member of members(); track $index) {
        <div class="sidbar_row flex">
          <ExpansionPanelDeviceComponent
            [device]="member?.device!"
            label="{{ member?.device?.friendly_name }} ({{ 'ENDPOINT_' | translate: { id: member.endpoint } }})"
            style="flex-grow: inherit"
            titleClass="center"
            class="panel w-full"
            contentClass="content_filled"
            [colorTrigger]="false"
          >
            <div class="wrapper">
              <DeviceFeaturesComponent [ieee_address]="member?.device?.ieee_address" [filterEndpoints]="[member.endpoint]" displayMode="scene"></DeviceFeaturesComponent>
              <div class="button">
                <button class="button-link-danger left" (click)="removeDeviceFromGroup(member.device!, member.endpoint)">{{ 'REMOVE_DEVICE' | translate }}</button>
              </div>
            </div>
          </ExpansionPanelDeviceComponent>
        </div>
      }

      <div class="row">
        <div class="container header">
          <div class="font-bold text-left w-full mt-5">{{ 'ADD_DEVICE' | translate }}</div>
        </div>

        <div class="sidbar_row">
          <div class="mt-2 w-full">
            <OptionPanelComponent
              class="panel w-full"
              style="flex-grow: inherit"
              title="{{ deviceSelectorTitle() }}"
              [entities]="deviceNameList()"
              [options]="{ maxShown: 10, showSelection: false, multi: false }"
              (optionsChanged)="selectNewDevice($event)"
            ></OptionPanelComponent>
          </div>
        </div>
        @if (selectedDevice() !== null && selectedDevice()?.endpoints) {
          <div class="sidbar_row">
            <div class="mt-2 w-full">
              <OptionPanelComponent
                class="panel w-full"
                style="flex-grow: inherit"
                title="{{ endPointSelectorTitle() }}"
                [entities]="selectedDeviceEndPoints()"
                [options]="{ maxShown: 10, showSelection: false, multi: false }"
                (optionsChanged)="selectNewEndPoint($event)"
              ></OptionPanelComponent>
            </div>
          </div>
        }
        @if (selectedDevice() !== null && selectedEndpointId() !== null) {
          <div class="sidbar_row">
            <div class="button">
              <button class="button-link left" (click)="addDevice()">{{ 'ADD' | translate }}</button>
            </div>
          </div>
        }
      </div>
      <div class="sidbar_row">
        <div class="mt-5 button">
          <button class="button-link-danger left" (click)="deleteGroup()">{{ 'DELETE_GROUP' | translate }}</button>
        </div>
      </div>
    </div>
  }
</div>
