@tailwind utilities;

:host {
  @apply w-full h-full;
  background-color: var(--app-background-raised-color);
}

.layout_root {
  background-color: var(--app-background-raised-color);
}

aside {
  background-color: var(--app-background-raised-color);
  border-color: var(--app-border-color);
}

.layout_header {
  background-color: var(--app-background-raised-color);
  border-color: var(--app-border-color);
}

.layout_section {
  background-color: var(--app-background-color);
  border-color: var(--app-border-color);
}

.material-icons {
  font-size: 20px;
}

.sidebar-right-open {
    min-width: 450px;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100vh; /* or any fixed height */
}

.logSection {
  max-height: 250px;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  border-top: 1px solid var(--app-border-color);
  background-color: var(--app-background-raised-color);

  &.logSection-closed {
    max-height: 40px;
  }
}