@tailwind utilities;

:host {
  @apply w-full h-full;
  background-color: var(--app-background-raised-color);
}

.layout_root {
  background-color: var(--app-background-raised-color);
}

aside {
  background-color: var(--app-background-raised-color);
  border-color: var(--app-border-color);
}

.layout_header {
  background-color: var(--app-header-background-color, --app-background-raised-color);
  border-color: var(--app-border-color);
}

.layout_section {
  background-color: var(--app-background-color);
  border: 1px solid;
  border-color: var(--app-border-color);

}

.material-icons {
  font-size: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logSection-closed {
  height: 50px;
  overflow: hidden;
  border-top: 1px solid var(--app-border-color);
  background-color: var(--app-background-raised-color);
}