@tailwind utilities;

:host {
  @apply w-full h-full;
}

.material-icons {
  font-size: 20px;
}

.sidebar-right-open {
    min-width: 450px;
    max-width: 450px;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100vh; /* or any fixed height */
}