.warning {
    color: var(--app-link-warning-color);
}

.error {
    color: var(--app-link-danger-color);
}

.ok {
    color:var(--app-link-good-color);
}

span{
      overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}