@if (reportings().length === 0) {
  <p>No reportings found</p>
} @else {
  @for (rep of reportings(); track rep.index) {
    <div class="reporting">
      <div class="report_row">
        <span class="label">{{ 'ENDPOINT' | translate }}</span>
        <span class="value">{{ rep.endpoint }}</span>
      </div>
      <div class="report_row flex-row">
        <span class="label w-1/3">{{ 'CLUSTER' | translate }}</span>
        <div class="value w-2/3">
          <DropdownComponent title="{{ 'CLUSTER' | translate }}" [items]="rep.visualClusterList" (selected)="changeCluster(rep.index, $event)"></DropdownComponent>
        </div>
      </div>

      <div class="report_row flex-row">
        <span class="label w-1/3">{{ 'ATTRIBUTES' | translate }}</span>
        <div class="value w-2/3">
          <DropdownComponent
            title="{{ 'ATTRIBUTES' | translate }}"
            [items]="attributesForCluster(rep.cluster, rep.attribute)"
            (selected)="changeAttribute(rep.index, $event)"
          ></DropdownComponent>
        </div>
      </div>
      <div class="report_row flex-row">
        <span class="label w-1/3">{{ 'MIN_REPORT_INT' | translate }}</span>
        <div class="value w-2/3">
          <input id="min_report_change" class="w-full text-right" [value]="rep.minimum_report_interval" (change)="changeMinRep(rep.index, $event.target.value)" />
        </div>
      </div>
      <div class="report_row flex-row">
        <span class="label w-1/3">{{ 'MAX_REPORT_INT' | translate }}</span>
        <div class="value w-2/3">
          <input id="max_report_interval" class="w-full text-right" [value]="rep.maximum_report_interval" (change)="changeMaxRep(rep.index, $event.target.value)" />
        </div>
      </div>
      <div class="report_row flex-row">
        <span class="label w-1/3">{{ 'MIN_REPORT_CHG' | translate }}</span>
        <div class="value w-2/3">
          <input id="min_report_change" class="w-full text-right" [value]="rep.reportable_change" (change)="changeMinRepChange(rep.index, $event.target.value)" />
        </div>
      </div>
      <div class="report_row flex-row">
        <div class="button w-1/2">
          <button class="button-link left" (click)="configureReporting(rep.index)">{{ 'UPDATE_REPORTING' | translate }}</button>
        </div>
        <div class="button w-1/2">
          <button class="button-link-danger left" (click)="deactivateReporting(rep.index)">{{ 'DEACTIVATE_REPORTING' | translate }}</button>
        </div>
      </div>
    </div>
  }
}
