<div class="logSection-header">
  <span class="label">Logs ({{ reversedEntries().length }})</span>
  <div class="flex">
    <button class="left" (click)="clearLog()"><span class="material-symbols-outlined" title="{{ 'CLEAR_LOGS' | translate }}">delete</span></button>
    <button (click)="toggleView()" class="p-1 ml-5 rounded transition-colors">
      <span class="material-symbols-outlined text-base">{{ logViewOpen() ? 'expand_more' : 'expand_less' }}</span>
    </button>
  </div>
</div>
<div class="logview-body">
  <div class="log_option_panel">
    <OptionPanelComponent title="{{ 'LOG_FILTER' | translate }}" [entities]="logOptions()" (optionsChanged)="logOptionChange($event)"></OptionPanelComponent>
    <div class="mt-2">
      <DropdownComponent
        [items]="serverOptions()"
        (selected)="changeBridgeLogging($event)"
        title=" {{ 'SYSTEM_LOGLEVEL' | translate: { level: log_level() } }}"
        class="mt-1"
      ></DropdownComponent>
    </div>
  </div>

  <div class="logSection-content scrollbar">
    <div class="logcontent overflow-y-auto scrollbar">
      @for (item of reversedEntries(); track $index) {
        <div class="flex flex-row items-center logline cursor-pointer" (click)="openLog(item)">
          <div class="level ml-2">
            <div class="ll">
              <div class="level_container">
                @switch (item.level) {
                  @case ('debug') {
                    <div class="bar debug"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                  }
                  @case ('info') {
                    <div class="bar info"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                  }
                  @case ('warning') {
                    <div class="bar warning"></div>
                    <div class="bar warning"></div>
                    <div class="bar warning"></div>
                    <div class="bar"></div>
                  }
                  @case ('error') {
                    <div class="bar error"></div>
                    <div class="bar error"></div>
                    <div class="bar error"></div>
                    <div class="bar error"></div>
                  }
                }
              </div>
            </div>
          </div>
          <p class="ml-2 message-date">{{ item.date | date: 'HH:mm:ss' }}</p>
          <p class="ml-2 message-text">{{ item.message }}</p>
        </div>
      }
    </div>
  </div>
</div>
