:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

button {
  border-left: 1px solid var(--app-border-color);
  padding-left: 1em;
}

.logview-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  max-height: 100%;
  margin-left: 0.75rem;
  overflow: hidden;
  height: 100%;
}

.logSection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--app-border-color);
  background-color: var(--app-background-raised-color);
  flex-shrink: 0;
}

.logSection-content {
  flex: 1;
  min-width: 0;
  min-height: 0;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.logcontent {
  width: 100%;
}

.level {
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.25s;
}

.logline {
  margin-top: 0.5em;
  border-bottom-width: 1px;
  border-bottom-color: var(--app-border-color);
  max-width: 100%;
  min-width: 0;
}

.ll {
  display: flex;
  width: 100%;
  z-index: 999;
}

.level_container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 2px;
}

.bar {
  display: flex;
  width: 8px;
  height: 4px;
  background-color: rgb(40, 43, 47);
  border-radius: 1px;
}

.info {
  background-color: rgb(9, 255, 0);
}

.debug {
  background-color: rgb(255, 255, 255);
}

.warning {
  background-color: rgb(242, 255, 0);
}

.error {
  background-color: rgb(255, 0, 0);
}

.message-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
  color: var(--app-text-color);
}

.message-date {
  color: var(--app-text-color);
}

.label {
  color: var(--app-text-color);
}

.log_option_panel {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  border-right: 1px solid;
  border-right-color: var(--app-border-color);
  flex-shrink: 0;
}
