:root {
    --app-background-raised-color: rgb(12, 15, 20);
    --app-background-color:rgba(0, 0, 0, 0);
    --app-background-color-selected:rgb(101, 98, 98);

    --app-text-color:rgb(222, 224, 227);
    --app-text-color-selected:rgb(8, 8, 8);
    
    --app-link-color:#0e65d8;
    --app-border-color:rgba(49, 49, 49, 0.741);
    --button-background-color: rgb(28, 30, 33);
    --button-selected-background-color:  #282b2f;
    --button-text-color:#4797ff;
    --app-navbar-color:rgb(28, 30, 33);
    --app-panel-color: rgb(28, 30, 33);
}