/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full bg-white text-gray-900 dark:bg-unifi-bg dark:text-gray-100;
  font-family: 'Inter', sans-serif;
  font-feature-settings: normal;
  font-size: 14px;
}

input {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 0.001s;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: onAutoFillCancel__DxmORsOV;
  animation-play-state: running;
  animation-range-end: normal;
  animation-range-start: normal;
  animation-timeline: auto;
  animation-timing-function: ease;
  appearance: auto;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(249, 250, 250);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(249, 250, 250);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(249, 250, 250);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(249, 250, 250);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  caret-color: rgb(249, 250, 250);
  color: rgb(249, 250, 250);
  cursor: auto;
  display: block;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: Inter, 'UI Sans', Lato, Arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 14px;
  font-size-adjust: none;
  font-style: normal;
  font-synthesis-small-caps: none;
  font-synthesis-style: none;
  font-synthesis-weight: none;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: 32px;
  letter-spacing: normal;
  line-height: 16.1px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(249, 250, 250);
  outline-style: none;
  outline-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  width: 336px;
  word-spacing: 0px;
}

.input-container {
  align-items: center;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 32px;
  line-height: 16.1px;
  transition-behavior: normal;
  transition-delay: 0s;
  transition-duration: 0.05s;
  transition-property: box-shadow;
  transition-timing-function: ease;
}

.input-container:focus-within {
  box-shadow: rgb(71, 151, 255) 0px 0px 0px 1px inset;
  background-color: rgba(249, 250, 250, 0.04);
}

.input-content {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 32px;
  line-height: 16.1px;
}

.selected {
  background: rgba(71, 151, 255, 0.1);
}

/* Scrollbar styling */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #000000;
  margin-right: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
  border: 2px solid #000000;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

// Sorting styles
th.sortable {
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-right: 24px;

  &::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0.3;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &.sort-asc::after {
    border-bottom: 6px solid rgb(48, 173, 85);
    opacity: 1;
  }

  &.sort-desc::after {
    border-top: 6px solid rgb(48, 173, 85);
    opacity: 1;
  }
}

.containerToolbarSearch {
  align-items: center;
  border-radius: 6px;
  display: flex;
  flex-wrap: nowrap;
  height: 32px;
  min-width: 32px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.backgroundToolbarSearch {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #282b2f;
}

.iconControl {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex: none;
  opacity: 1;
  padding: 0;
  margin-left: 5px;
  transition: opacity 0.15s ease-in-out;
}

.containerToolbarSearchExpandable {
  align-items: center;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  margin: 0;
  overflow: hidden;
  transition: width 0.28s cubic-bezier(0.7, 0, 0.3, 1);
}

.toolbarInputAndClearContainer {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.toolbarInput {
  background: transparent;
  border: none;
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  line-height: 1;
  outline: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.65);
}

.root_control {
  border-bottom-color: rgb(52, 56, 61);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(52, 56, 61);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(52, 56, 61);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(52, 56, 61);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: block;
}

.control:focus-within {
  outline: 1px solid #0e65d8;
}

.button > .content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out 0.15s;
  visibility: visible;
  white-space: nowrap;
}

.wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}


.wrapper {
  background-color: rgb(28, 30, 33);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0.5em;
  flex: 1;
}

.container {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: block;
  line-height: 18.4px;
  width: 100%;
  padding: 0.5em;
  -webkit-font-smoothing: antialiased;
}


.link {
  color: #277ff1;
}

.indicator {
  align-items: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  flex-shrink: 0;
  height: 16px;
  justify-content: center;
  margin: 2px 0;
  outline-offset: 2px;
  overflow: hidden;
  position: relative;
  width: 16px;
}

.indicator-dark {
  border-color: #737c87;
}



.container >.label {
  box-sizing: border-box;
  color: rgb(222, 224, 227);
  display: block;
  font-weight: 400;
  font-size: 14px;
  height: 24px;
  line-height: 20px;
  width: 40%;
}

.container >.value {
  box-sizing: border-box;
  color: rgb(183, 188, 194);
  display: block;
  height: 24px;
  line-height: 20px;
  max-width: 215px;
  width: 60%;
  text-align: right;
}

.sublabel {
  font-size: 12px;
}