.panel {
  background-color: var(--app-background-raised-color);
  color: var(--app-text-color);
  border-color: var(--app-border-color);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.device_name {
  padding-top: 2em;
  background-color: var(--app-panel-color);
}

.search {
    background-color: var(--app-panel-color);
}