.panel {
    background-color: var(--app-background-raised-color);
    color:var(--app-text-color);
    border-color: var(--app-border-color);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}