<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 w-full ml-3">
  <div class="p-6 rounded-2xl panel shadow cursor-pointer" (click)="goToGroups()">
    <h2 class="text-lg font-semibold mb-2">{{ 'GROUPS' | translate }}</h2>
    <p class="text-sm opacity-70">{{ groupStore.entities().length }}</p>
  </div>
  <div class="p-6 rounded-2xl panel shadow cursor-pointer" (click)="goToDevices()">
    <h2 class="text-lg font-semibold mb-2">{{ 'DEVICES' | translate }}</h2>
    <p class="text-sm opacity-70">{{ deviceStore.entities().length }}</p>
  </div>
  <div class="p-6 rounded-2xl panel shadow">
    <h2 class="text-lg font-semibold mb-2">Version {{ info()?.version }}</h2>
    <p class="text-sm opacity-70">
      <a target="_blank" class="link" href="https://github.com/Koenkk/zigbee2mqtt/releases/">Commit {{ info()?.commit }}</a>
    </p>
  </div>
</div>
<div class="row m-3 border p-3">
  <SearchInput (searchChange)="applySearch($event)"></SearchInput>
</div>
<div class="h-full flex flex-col scrollbar overflow-y-auto overflow-x-hidden pt-2 pr-2 pl-1 mb-4">
  <div class="grid grid-cols-1 md:grid-cols-4 xl:grid-cols-6 gap-2 w-full ml-2 panel">
    @for (device of filteredDevices(); track $index) {
      <div class="p-2 rounded-2xl w-full flex flex-col">
        <span class="text-center w-full device_name">{{ device.friendly_name }}</span>
        <DeviceFeaturesComponent [ieee_address]="device?.ieee_address" displayMode="dashboard"></DeviceFeaturesComponent>
      </div>
    }
  </div>
</div>
