:host {
    flex:1;
    display:flex;
}

.header {
  display:flex;
  align-items: center;
}


.icon {
  max-width: 120px;
}

.device_icon {
  width: 150px;
  padding: 4px 4px 4px 4px;
}

.device_row {
  display: flex;
  min-height: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  gap: 8px;
  color: var(--app-text-color)
}

.edit_icon {
  max-width: 13px;
  color: var(--app-link-color);
}