<div class="containerwrapper">
  @if (this.device() !== null) {
    <div class="container header">
      <div class="device_icon"><DeviceImage [device]="this.device()!" /></div>
      <div class="font-bold">{{ device()?.definition?.description }}</div>
    </div>
    <div class="container">
      <div class="device_row">
        <span class="label">{{ 'FRIENDLY_NAME' | translate }}</span>
        <span class="value flex flex-row"
          >{{ device()?.friendly_name }}<span class="material-symbols-outlined edit_icon mr-2 ml-2 cursor-pointer" (click)="renameDevice()">edit_square</span></span
        >
      </div>
      <div class="device_row">
        <span class="label">{{ 'DESCRIPTION' | translate }}</span>
        <span class="value">
          <div class="input-container active">
            <div class="input-content">
              <input (change)="changeDescriptions($event)" id="device_description" class="w-full text-right" [value]="device()?.description || ''" />
            </div>
          </div>
        </span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'LAST_SEEN' | translate }}</span>
        <span class="value">{{ device()!.state.lastseenhuman }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'AVAILABILITY' | translate }}</span>
        <span class="value"><DeviceAvailability [device]="device()!" /></span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'DEVICE_TYPE' | translate }}</span>
        <span class="value">{{ device()?.type }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'ZIGBEE_MODEL' | translate }}</span>
        <span class="value">{{ device()?.model_id }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'ZIGBEE_MANUFACTURER' | translate }}</span>
        <span class="value">{{ device()?.manufacturer }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'DESCRIPTION' | translate }}</span>
        <span class="value">{{ device()?.definition?.description }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'SUPPORT_STATUS' | translate }}</span>
        <span class="value">{{ device()?.supported | human }} {{ device()?.definition ? (device()?.definition)!.source : '' }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'IEEE_ADDRESS' | translate }}</span>
        <span class="value">{{ device()?.ieee_address }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'NETWORK_ADDRESS' | translate }}</span>
        <span class="value">{{ device()?.network_address ?? 0 | toHex }} / {{ device()?.network_address ?? 0 }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'FIRMWARE_BUILD_DATE' | translate }}</span>
        <span class="value">{{ device()?.date_code }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'FIRMWARE_ID' | translate }}</span>
        <span class="value">{{ device()?.software_build_id }}</span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'MANUFACTURER' | translate }}</span>
        <span class="value"><VendorLink [device]="device()!"></VendorLink></span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'MODEL' | translate }}</span>
        <span class="value"><ModelLink [device]="device()!"></ModelLink></span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'POWER' | translate }}</span>
        <span class="value">
          @if (device()?.power_source && device()?.power_source!.indexOf('Battery') > -1) {
            <span
              [class.battery_ok]="(device()?.state)!.battery >= 50"
              [class.battery_warning]="(device()?.state)!.battery < 50 && (device()?.state)!.battery >= 20"
              [class.battery_low]="(device()?.state)!.battery < 20"
            >
              {{ device()?.state && (device()?.state)!.battery ? `${(device()?.state)!.battery}%` : '' }}
            </span>
          } @else {
            <span class="material-symbols-outlined">power</span>
          }
        </span>
      </div>
      <div class="device_row">
        <span class="label">{{ 'INTERVIEW_STATE' | translate }}</span>
        <span class="value">{{ `zigbee.${device()?.interview_state}` | translate }}</span>
      </div>

      <div class="buttonBar mt-3 panel">
        @if (device()?.update && device()?.update?.state === 'available') {
          <div class="button">
            <button class="button-link left" (click)="performUpdate()">{{ 'PERFORM_UPDATE' | translate }}</button>
          </div>
        }

        @if (device()?.update && device()?.update?.state === 'updating') {
          <div class="button flex flex-col min-h-20">
            <span>{{ 'UPDATE_RUNNING' | translate: { time: device()?.update?.remaining | secondsToTime } }}</span>
            <ProgessBar [percent]="device()?.update?.progress ?? 0" [showLabel]="true"></ProgessBar>
          </div>
        }

        @if (device()?.update === undefined || device()?.update?.state !== 'updating') {
          <div class="button">
            <button class="button-link left" (click)="checkUpdate()">{{ 'CHECK_FOR_UPDATE' | translate }}</button>
          </div>
        }

        <div class="button">
          <button class="button-link left" (click)="startInterview()">{{ 'START_INTERVIEW' | translate }}</button>
        </div>
        <div class="button">
          <button class="button-link left" (click)="startReconfig()">{{ 'RECONFIGURE' | translate }}</button>
        </div>
        <div class="button">
          <button class="button-link-danger left" (click)="deleteDevice()">{{ 'DELETE' | translate }}</button>
        </div>
      </div>
    </div>
  }
</div>
