<div type="dropdown" class="dropdown_container" style="width: 100%" tabindex="0">
  <div class="input-container optionsContainer">
    <div style="width: 100%" class="inputComponent">
      <div class="containerWrapper">
        <div class="">
          <div class="triggerContainer">
            <button type="button" tabindex="0" class="trigger" (click)="toggle()">
              <div class="input">
                <span class="text">{{ title() }}</span>
              </div>
              @if (isOpen() === false) {
                <span class="material-symbols-outlined">arrow_drop_down</span>
              } @else {
                <span class="material-symbols-outlined">arrow_drop_up</span>
              }
            </button>
          </div>
        </div>
      </div>
    </div>
    <ul class="options" [class.isOpen]="isOpen()" tabindex="-1" [style.height]="isOpen() ? height() : '0px'">
      @for (item of items(); track $index) {
        <li id="dropdownOptions_{{ item.value }}" class="option" (click)="selectOne(item)">
          @if (item.isSelected) {
            <span class="selection material-symbols-outlined">check</span>
          } @else {
            <span class="selection"></span>
          }
          <div class="labelText">{{ item.label }}</div>
        </li>
      }
    </ul>
  </div>
</div>
