<div
  class="containerWrapper__Tn64umPB container__DxmORsOV container-dark__DxmORsOV container-body__DxmORsOV container-secondary-hasLabel__DxmORsOV container-secondary-body__DxmORsOV"
>
  <div class="inputContainer__DxmORsOV inputContainer-dark-secondary__DxmORsOV inputContainer-secondary__DxmORsOV inputContainer-readOnly__DxmORsOV">
    <div class="inputContent__DxmORsOV">
      <div
        data-disabled="false"
        tabindex="-1"
        class="input__Tn64umPB inputReset__Tn64umPB inputReset-dark input__DxmORsOV input-secondary__DxmORsOV input-dark__DxmORsOV input-body__DxmORsOV input-body-secondary__DxmORsOV input-readOnly__DxmORsOV input-dark-secondary"
        data-testid="inputReadOnly"
      >
        <span class="truncatedText__DxmORsOV">Auto</span>
      </div>
    </div>
    <div class="icon-secondary__DxmORsOV icon-dark__DxmORsOV icon-body__DxmORsOV icon-after__DxmORsOV" role="button">
      <div class="controlElement__Tn64umPB">
        <div class="Icon-module_wrapper__1FD2T dropdownArrow__xsesnvVh dropdownArrow-dark isOpen__xsesnvVh resetTopMargin__xsesnvVh">
          <svg
            viewBox="0 0 20 20"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            width="15.36px"
            height="15.36px"
            class="Icon-module_icon__2a0I8 Icon-module_icon-light__27kpC Icon-module_icon-outline__3nv5v"
            baseclassname=""
            twotonedclassname="Icon-module_hidden__cSK0B"
            fillclassname="Icon-module_hidden__cSK0B"
            fillwithtwotoneclassname="Icon-module_hidden__cSK0B"
            style="margin: -16% -3.75px -16% -32%"
            stroke="currentColor"
            stroke-width="0"
            data-testid="toggleIcon"
          >
            <path
              d="M12.5 16a.501.501 0 0 1-.364-.157l-4.849-5.142A.994.994 0 0 1 7 10c0-.264.102-.513.287-.701l4.849-5.142a.5.5 0 0 1 .728.686L8 10l.01.01 4.854 5.146A.5.5 0 0 1 12.5 16Z"
              fill="currentColor"
              class=""
            ></path>
            <path
              d="M12.35 16a.749.749 0 0 1-.548-.236l-4.597-4.89a1.252 1.252 0 0 1 0-1.748l4.597-4.89a.75.75 0 0 1 1.093 1.027L8.442 10l4.453 4.736A.75.75 0 0 1 12.35 16Z"
              fill="currentColor"
              class="Icon-module_hidden__cSK0B"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
