<div class="containerWrapper container">
  <div class="inputContainer" [class.open]="isOpen()" (click)="isOpen.set(!isOpen())" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <div class="inputContent">
      <div class="input">
        <span class="selectedText">{{ selectedLabel() }}</span>
      </div>
    </div>
    <div class="icon" role="button">
      <div class="controlElement">
        <div class="Icon-module">
          @if (isOpen() === false) {
            <span class="material-symbols-outlined">arrow_drop_down</span>
          } @else {
            <span class="material-symbols-outlined">arrow_drop_up</span>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayPanelClass]="'dropdown-panel'"
  (detach)="isOpen() === false"
>
  <div class="dropdownRoot scrollbar">
    <ul class="optionsPanel">
      @for (item of controlItems(); track $index) {
        <li class="option" (click)="selectOne(item)">
          @if (item.isSelected) {
            <span class="selection material-symbols-outlined labelText">check</span>
          } @else {
            <span class="selection"></span>
          }
          <div class="labelText">{{ item.label }}</div>
        </li>
      }
    </ul>
  </div>
</ng-template>
