:host {
  background-color: rgb(19, 20, 22);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: block;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: Inter, 'UI Sans', Lato, Arial, sans-serif;
  font-feature-settings: 'kern';
  font-synthesis-small-caps: none;
  font-synthesis-style: none;
  font-synthesis-weight: none;
  font-variant-ligatures: no-common-ligatures;

  line-height: 18.4px;
  padding-bottom: 0px;
  padding-right: 2px;
  padding-top: 0px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

nav {
  background-color: rgb(28, 30, 33);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  height: 40px;
  line-height: 18.4px;
  margin-top: 5px;
  margin-bottom: 16px;
  min-height: 36px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  position: sticky;
  top: 0px;
}

.navbutton {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  font: 400 12px/16px UI Sans, Lato, Arial, sans-serif;
  justify-content: center;
  min-height: 32px;
  padding: 4px;
  transition: background-color 0.15s cubic-bezier(0.7, 0, 0.3, 1),
    color 0.15s cubic-bezier(0.7, 0, 0.3, 1);
  width: 0;
  cursor: pointer;
  background-color: #0e0f10;
  color: #4797ff;
}

.navbutton-selected {
  background-color: #282b2f;
  color: #4797ff;
}

.icon {
  max-width: 120px;
}

.device_icon {
  width: 150px;
  padding: 4px 4px 4px 4px;
}

.device_row {
  display: flex;
  min-height: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  gap: 8px;
}

.wrapper {
  background-color: rgb(28, 30, 33);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0.5em;
}

.container {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: block;
  line-height: 18.4px;
  width: 100%;
  padding: 0.5em;
  -webkit-font-smoothing: antialiased;
}

.label {
  box-sizing: border-box;
  color: rgb(222, 224, 227);
  display: block;
  font-weight: 400;
  height: 24px;
  line-height: 20px;
  width: 40%;
}

.value {
  box-sizing: border-box;
  color: rgb(183, 188, 194);
  display: block;
  height: 24px;
  line-height: 20px;
  max-width: 215px;
  width: 60%;
  text-align: right;
}

.buttons {
  background-color: rgb(28, 30, 33);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  height: 96px;
  line-height: 18.4px;
  margin-bottom: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
}

.button {
  border-bottom-color: rgba(249, 250, 250, 0.07);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  height: 48px;
  padding-top:15px;
  padding-bottom:15px;
  line-height: 18.4px;
}

.button-blue {
  color: rgb(128, 183, 255);
}

.button-red {
  color: rgb(241, 12, 12);
}

.header {
  display:flex;
  align-items: center;
}