<div class="wrapper">
  @if (group() !== null) {
    <div class="container header">
      <div class="font-bold text-center mt-5">{{ 'SCENES' | translate }}</div>
    </div>
    <div class="container">
      @for (scene of group()!.scenes; track $index) {
        <div class="group_row flex mt-5">
          <ExpansionPanelComponent
            label="{{ scene.name }} ({{ scene.id }})"
            style="flex-grow: inherit"
            titleClass="center"
            class="panel w-full"
            contentClass="content_filled"
            [colorTrigger]="false"
          >
            <div class="scene_row">
              <span class="label">{{ 'SCENE_NAME' | translate }}</span>
              <span class="value">
                <div class="input-container">
                  <div class="input-content">
                    <input class="w-full text-right panel" [value]="scene.name || ''" />
                  </div>
                </div>
              </span>
            </div>
            <div class="button">
              <button class="button-blue left" (click)="recallScene(scene.id)">{{ 'RECALL_SCENE' | translate }}</button>
            </div>

            <div class="button hint">
              <div class="flex flex-col">
                <button class="button-blue left">{{ 'UPDATE_SCENE' | translate }}</button>
                <span class="hint ml-1">This will also save the state of all members of this scene</span>
              </div>
            </div>

            <div class="button">
              <button class="button-red left" (click)="deleteScene(scene.id, scene.name)">{{ 'DELETE_SCENE' | translate }}</button>
            </div>
          </ExpansionPanelComponent>
        </div>
      }
      <div class="scene_row">
        <div class="button">
          <button class="button-red left" [class.disabled]="group()!.scenes.length === 0" (click)="deleteAllScenes()">{{ 'DELETE_ALL_SCENES' | translate }}</button>
        </div>
      </div>
    </div>
  }
</div>
